@import 'globals';

.about {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  h2 {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    text-align: left;
  }
}

.option {
  border: 1px solid #E4E4E4;
  border-radius: .5rem;
  padding: 1.625rem 1.5rem;
  margin-bottom: 1.5rem;

  @include media(tablet) {
    min-height: 15rem;
  }

  &--disable {
    opacity: .5;
  }

  &--active {
    border: 1px solid $darkCyan;
  }

  &__header {
    display: flex;
  }

  &__circle {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    margin-right: 1rem;

    &--active {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: .75rem;
      height: .75rem;
      background-color: $darkCyan;
      border-radius: 50%;
    }
  }

  &__title {

    @include media(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin-right: 1rem;
      }
    }
  }

  &__desc {
    @include media(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__footer {

    @include media(tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      margin: 0;
      margin-right: .5rem;
      margin-bottom: 2rem;

      @include media(tablet) {
        margin-bottom: 0;
      }
    }

    form {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        border: 1px solid #e4e4e4;
        padding: .5rem 1rem;
        border-radius: 10rem;
        margin-right: 1rem;

        input {
          border: 0;
          padding: .5rem;
          width: 3.5rem;
          font-size: 1rem;

          &:focus {
            outline-color: #e4e4e4;
          }
        }
      }
    }
  }

  h3 {
    font-size: 0.875rem;
    margin-bottom: 0.875rem;

    @include media(tablet) {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }

  h4 {
    font-size: 0.875rem;
    color: $darkCyan;
    margin-bottom: 2rem;

    @include media(tablet) {
      font-size: 1rem;
      margin-bottom: 2rem;
      line-height: 1.5rem;
    }
  }

  &__left {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 3rem;

    @include media(tablet) {
      font-size: 2rem;
      margin-bottom: 0;
    }

    span {
      font-size: 0.875rem;
      color: $darkGray;

      @include media(tablet) {
        font-size: 1rem;
      }
    }
  }
}